.root {
  padding: 60px;
}

.current-day {
  background: linear-gradient(to bottom, #8a9fb5 0%, #cecfd0 100%);
  /* 其他樣式 */
  flex-grow: 1;
}

.currWF-img-container {
  height: 120px;
}

.multi-function-area {
  /* background-color: palevioletred; */
  flex-grow: 3;
}

.weather-card-area {
  /* background-color: dodgerblue; */
}

.WC-img-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  /* font-size: 17px; */
}
