.root {
  padding: 60px;
}

.current-day {
  background-color: aquamarine;
  flex-grow: 1;
  flex-basis: 30%;
  padding: 25px;
}

.multi-function-area {
  /* background-color: palevioletred; */
  flex-grow: 3;
  flex-basis: 70%;
}
.weather-card-area {
  background-color: dodgerblue;
}

.searchBox {
  /* background-color: #aaa; */
  padding-bottom: 95px;
}
.searchBox > input {
  border: none;
  background-color: #f7f4f4;
}
.searchBox > input:focus {
  outline: none;
}
.searchBox > button {
  background-color: #f7f4f4;
  border: none;
}
.searchBox > button:focus {
  cursor: pointer;
}

.WC-img-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
