<div class="d-lg-flex root">
  <div class="current-day p-4 d-flex flex-lg-column col-lg-4 my-3">
    <div
      class="d-flex justify-content-center align-items-center currWF-img-container"
    >
      <img [src]="c36HoursweatherData?.[0]?.currWXValue" alt="圖片" />
    </div>
    <h2 class="d-flex justify-content-center align-items-center">
      <span>{{c36HoursweatherData?.[0]?.currMinT}}度</span>
    </h2>
    <h6 class="d-flex justify-content-center align-items-center">Today</h6>
    <p class="d-flex justify-content-center align-items-center">
      {{c36HoursweatherData?.[0]?.City}}
    </p>
    <p class="d-flex justify-content-center align-items-center small">
      {{c36HoursweatherData?.[0]?.currWX}}
    </p>
    <p class="d-flex justify-content-center align-items-center small">
      {{c36HoursweatherData?.[0]?.currPoP}}%
    </p>
    <!-- <app-current-day-wf></app-current-day-wf> -->
  </div>
  <div
    class="multi-function-area d-flex flex-column justify-content-between col-lg-8 my-3 ps-lg-3"
  >
    <!-- 搜尋功能 -->
    <div class="d-flex justify-content-end mb-1">
      <select #city (change)="searchChanged(city.value)" class="form-select">
        <option selected>--請選擇城市--</option>
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
    </div>

    <!-- 卡片顯示功能 -->
    <div class="weather-card-area">
      <div class="card-group">
        <div class="card" *ngFor="let item of c7DaysweatherData">
          <div class="card-body text-center">
            <h5 class="card-title d-flex flex-nowrap justify-content-center">
              {{ item.Date }}
            </h5>
            <h6 class="card-title mb-4">{{ item.DayOfWeek }}</h6>
            <div class="WC-img-container mb-4">
              <img [src]="item.AMWXValue" class="img-fluid mw-100" />
            </div>
            <p class="card-text">
              <small class="text-muted">{{ item.AMWX }}</small>
            </p>
          </div>
        </div>
      </div>
      <!-- <app-weather-card></app-weather-card> -->
    </div>
  </div>
</div>
