<!-- 1 note:應該要用到d-flex的變形 -->
<div class="d-flex root justify-content-between">
  <div class="current-day"><app-current-day-wf></app-current-day-wf></div>
  <div class="multi-function-area">
    <!-- 搜尋功能 -->
    <div class="searchBox d-flex justify-content-end">
      <button>
        <i class="bi bi-search"></i>
      </button>
      <input type="text" placeholder="請輸入搜尋內容" />
    </div>
    <!-- 卡片顯示功能 -->
    <div class="weather-card-area">
      <div class="card-group">
        <div class="card" *ngFor="let item of weatherData">
          <div class="card-body">
            <h5 class="card-title">{{ item.Date }} {{ item.DayOfWeek }}</h5>
            <img [src]="item.AMWXValue" class="" />
            <p class="card-text">test</p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
      <!-- <app-weather-card></app-weather-card> -->
    </div>
  </div>
</div>
